<%- include('../partials/header'); %>

<div class="container">
    <header class='jumbotron'>
        <div class="container">
            <h1>Welcome to <span style="font-family: 'Pacifico', cursive;"><span style="color:cornflowerblue">Let</span><span style="color:yellowgreen"> Us</span><span style="color: orange;"> Eat <span style="color: purple">Out</span></span></span></h1>
            <p>Explore all recommended restaurant and view the real customer feedbacks!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/LetUsEatOut/new">Add A New Restaurant</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="thumbnail-image">
                        <img src="<%= campground.image %>">
                    </div>
                    <div class="caption">
                        <h4><%= campground.name%></h4>
                    </div>
                    <p>
                        <a href="/LetUsEatOut/<%=campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
    
</div>

<%- include('../partials/footer'); %>